@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DM Sans;
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap')
}

:root {
  --background: #111827;
  --text: #FFF;
  --highlight: #39AC4C;
}

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}

html {
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  height: 100%;
  color: var(--text);
  background-color: var(--background);
}

body {
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  height: 100%;
  color: var(--text);
  background-color: var(--background);
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.home-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes downToUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@media (min-width: 400px) {
  .background-gradient::before {
    background: radial-gradient(20% 50% at 50% 50%,
        rgba(217, 60, 248, 0.233) 0%,
        rgba(68, 40, 68, 0) 100%);
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}