@font-face {
    font-family: Dosis-Bold;
    src: url('../assets/fonts/Dosis/Dosis-Bold.ttf');
}

@font-face {
    font-family: Dosis-Regular;
    src: url('../assets/fonts/Dosis/Dosis-Regular.ttf');
}

.title {
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: downToUp 1s ease-in-out;
    margin-top: 9rem;
    margin-bottom: 2.5rem;
}

.title h1 {
    font-family: Dosis-Bold;
}


.description {
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: downToUp 1s ease-in-out;
    margin-bottom: 5rem;
}
.description p {
    font-family: Dosis-Regular;
}


.description p :hover {
    color: #9459F0;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 2rem;
    animation: downToUp 1s ease-in-out;
}

/* icon */
.icon {
    color: white;
    width: 25px;
    height: 25px;
}

/* home page button */

.button {
    display: flex;
    gap: 10px;
    width: 280px;
    position: relative;
    padding: 1em 1.8em;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    animation: downToUp 1s ease-in-out;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    flex-direction: row;

}

/*  tablet  */
@media screen and (max-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        margin: auto;
        margin-top: 2rem;
        flex-direction: column;
    }

    .button {
        width: 200px;
        display: flex;
        flex-direction: column;
        font-size: 13px;
    }
}

/*  mobile  */
@media screen and (max-width: 480px) {
    .title {
        font-size: 1.5rem;
    }

    .description {
        font-size: 0.8rem;
    }

    .icon {
        width: 15px;
        height: 15px;
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        margin: auto;
        margin-top: 2rem;
        flex-direction: column;
    }

    .button {
        width: 150px;
        display: flex;
        flex-direction: column;
        padding: 0.4rem 0.4rem;
        font-size: 10px;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes downToUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes colorChange {
    0% {
        color: #ff0000;
    }

    10% {
        color: #ffc400;
    }

    20% {
        color: #d9ff00;
    }

    30% {
        color: #00ff21;
    }

    40% {
        color: #00ffd5;
    }

    50% {
        color: #00f7ff;
    }

    60% {
        color: #0095ff;
    }

    70% {
        color: #002eff;
    }

    80% {
        color: #b700ff;
    }

    90% {
        color: #ff00bf;
    }

    100% {
        color: #ff006a;
    }
}