@font-face {
    font-family: Dosis-Bold;
    src: url('../assets/fonts/Dosis/Dosis-Bold.ttf');
}

@font-face {
    font-family: Dosis-Regular;
    src: url('../assets/fonts/Dosis/Dosis-Regular.ttf');
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    animation: upToDown 0.5s ease both;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: upToDown 0.5s ease both;
}

.headerLogo {
    width: 70px;
    height: 70px;
    object-fit: contain;
    transition: 0.5s;
    /* make a round logo */
    border-radius: 50%;
    overflow: hidden;
}

.headerLogo:hover {
    cursor: pointer;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}

.headerMenuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
}

.headerMenuListItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.headerMenuListItem a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Dosis-Regular;
    transition: 0.5s;
}

.headerMenuListItem a:hover {
    color: #9459F0
}

.headerMenuListItem a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #9459F0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}

.headerMenuListItem a:hover::after {
    transform: scaleX(1);
}

.headerMenuMobileButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.headerMenuMobileButtonIcon {
    width: 30px;
    height: 30px;
    fill: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.headerMenuMobileList {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    list-style: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
    overflow: hidden;
    &.active {
        display: flex;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        justify-content: space-evenly;
        flex-direction: column;
        height: 30vh;
    }
}

.headerMenuMobileListItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;

    &.active {
        opacity: 1;
        transform: translateY(0);
        animation: downToUp 0.5s ease both;
        margin-bottom: 1rem;
        height: 100%;

    }
}
.headerMenuMobileListItem a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Raleway;
    transition: 0.5s;
}
.headerMenuMobileListItem a:hover {
    color: #9459F0
}
.headerMenuMobileListItem a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #9459F0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}
.headerMenuMobileListItem a:hover::after {
    transform: scaleX(1);
}
@media screen and (max-width: 768px) {
    .headerMenu {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .headerMenuMobileButton {
        display: none;
    }

    .headerMenuMobile {
        display: none;
    }
}

/*  tablet  */

@media screen and (max-width: 768px) {
    .header {
        height: 60px;
    }

    .headerLogo {
        width: 60px;
        height: 60px;
    }

    .headerMenuMobileList {
        top: 60px;
    }
}

/*  mobile  */

@media screen and (max-width: 480px) {
    .header {
        height: 50px;
    }

    .headerLogo {
        width: 50px;
        height: 50px;
    }

    .headerMenuMobileList {
        top: 50px;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes downToUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes upToDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}