
# Keep environment variables out of version control
.env

# Ignore all files in the .vscode folder
/.vscode

# Ignore the build folder
/dist

# Ignore all files in the node_modules folder
/node_modules

# Ignore target folder

target

package-lock.json

yarn.lock