.env
/.vscode
/dist
/node_modules
/target
/yarn.lock
/.next
/node_modules
/pnpm-lock.yaml
/yarn-error.log
/yarn.lock
/.eslintcache
/package-lock.json
/Lavalink/application.yml
/Lavalink/plugins
/prisma/lavamusic.db
/prisma/migrations