@font-face {
    font-family: Dosis-Bold;
    src: url('../assets/fonts/Dosis/Dosis-Bold.ttf');
}

@font-face {
    font-family: Dosis-Regular;
    src: url('../assets/fonts/Dosis/Dosis-Regular.ttf');
}

.dashboard {
    height: 100%;
    margin: 0 auto;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 9rem;
}

.mainContentTitle {
    font-family: Dosis-Bold;
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 2px solid #9459F0;
}

